
.vs/appie/v14/.suo
appie/bin/Debug/appie.exe
appie/bin/Debug/appie.pdb
appie/bin/Debug/appie.vshost.exe
appie/bin/Debug/appie.vshost.exe.manifest
appie/bin/Debug/Microsoft.mshtml.dll
appie/bin/Debug/SHDocVw.dll
appie/obj/Debug/appie.csproj.FileListAbsolute.txt
appie/obj/Debug/appie.csprojResolveAssemblyReference.cache
appie/obj/Debug/appie.exe
appie/obj/Debug/appie.pdb
appie/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
.vs/appie/v15/.suo
.vs/appie/v15/Server/sqlite3/db.lock
.vs/appie/v15/Server/sqlite3/storage.ide
.vs/appie/v15/Server/sqlite3/storage.ide-shm
.vs/appie/v15/Server/sqlite3/storage.ide-wal
appie/obj/Debug/appie.csproj.CoreCompileInputs.cache
appie/obj/Debug/appie.csproj.CoreCompileInputs.cache
*.cache
appie/obj/Debug/appie.csproj.CoreCompileInputs.cache
appie/obj/Debug/appie.csproj.CoreCompileInputs.cache
/appie/obj/Debug/appie.csproj.CoreCompileInputs.cache
appie/bin/Debug/demo.bin
